@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    89deg,
    rgba(24, 32, 70, 1) 0%,
    rgba(70, 70, 70, 1) 100%
  );
  /* background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  ); */
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10rem 4rem;
}

.header__container-left {
  flex: 0.5;
}

.header__container-left_heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__container-left_heading p {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  padding-left: 16px;
}

.header__container-left_heading div {
  width: 38px;
  height: 3px;
  background: #ffffffe6;
}

.header__container-profession h1 {
  font-family: var(--font-family);
  font-size: 80px;
  font-weight: 400;
  line-height: 90%;
  text-wrap: wrap;
  margin: 0;
}

.header__container-right {
  flex: 0.4;
}

.header__container-right p {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
}

.header__container-right div {
  width: 38px;
  height: 3px;
  background: #ffffffe6;
  margin-bottom: 17px;
}

.header__container-footer {
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
}

.header__container-footer_contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding-top: 10px;
}

.header__container-footer_contact a {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.header__container-footer_contact p {
  margin-right: 0;
}

.header__container-footer_contact p:hover {
  opacity: 0.5;
  transition-duration: 0.4s;
}

.header__container-footer_projects {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.project-link {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 82.336%;
  margin-right: 110px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: fit-content;
}

.project-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffffe6;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.project-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.project-link:last-child {
  margin-right: 0px;
  padding-right: 0;
}

.project-link-nonactive {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 82.336%;
  margin-right: 110px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.project-link-nonactive:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffffe6;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.project-link-nonactive:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.project-link-nonactive:last-child {
  margin-right: 0px;
  padding-right: 0;
}

.logo {
  height: 7em;
  will-change: filter;
  transition: filter 300ms;
  margin-bottom: 20px;
  background-color: #f7f7f7;
}

.logo.react:hover {
  /* filter: drop-shadow(0 0 2em #182046); */
  background: none;
}

.logo.react:not(:hover) {
  background: none;
}

@media screen and (max-width: 1024px) {
  .header__container-right {
    padding-top: 20px;
  }

  .header__container-right p {
    font-size: 18px;
    line-height: 24px;
  }

  .header__container-footer_contact p {
    font-size: 16px;
  }

  .header__container-footer_projects a {
    font-size: 16px;
    margin-right: 55px;
  }

  .header__container-footer .logo {
    height: 5em;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    margin: 5rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .header__container-footer {
    padding: 0rem 2rem;
    flex-direction: column-reverse;
  }

  .header__container-footer_contact {
    display: none;
  }

  .header__container-footer_projects {
    justify-content: center;
  }

  .header__container-footer_react {
    display: none;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

@media screen and (max-width: 500px) {
  .header__container {
    margin: 4rem 2rem;
  }

  .header__container-profession h1 {
    font-size: 64px;
  }

  .header__container-footer_projects {
    max-height: 100%;
  }
}
