.footer {
  margin-top: 20px;
  padding: 1rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--bottom-border);
}

.footer p {
  color: #000;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 82.336%;
}

@media screen and (max-width: 500px) {
  .footer {
    max-width: 100%;
  }
  .footer p {
    font-size: 10px;
  }
}
