@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("https://fonts.cdnfonts.com/css/vollkorn");
@import url("https://fonts.cdnfonts.com/css/inter");

:root {
  --font-family: "Inter", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-main: #00ced1;
  --bottom-border: #4b5563;
}
